*{
    padding: 0;
    margin: 0;
    font-family: sans-serif,'Times New Roman', Times, serif;
}
.main{
    text-align: center;
    background-color: #ced4da;
    height: 100vh;
    width: 100vw;
    
}

.container{
margin: 5vmin;
display: flex;
justify-content: center;
align-items: center;
}

.box{
    margin: 2vmin;
    height: 60vmin;
    width: 40vmin;
    padding: 3vmin;
    font-size: 3.5vmin;
    background-color: #adb5bd;
    border-radius: 2vmin;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    color: black;
    font-weight:500;
    
}

button{
    font-size: 3vmin;
    padding: 0.5vmin;
    margin: 4vmin;
    background-color: #6c757d;
    color: white;
    border-radius: 1vmin;
    box-shadow: none;  
    padding-left: 6vmin;
    padding-right: 6vmin;

}
#heading{
    position: relative;
    padding-top: 20px;
}

button:active{
    background-color: #495057;
    

}

@media (max-width: 1222px){
    .container{
        flex-direction: column;
    }
}

